version: '3.8'

services:
  web-api:
    build: ./web-api
    env_file: ./web-api/.env
    ports:
      - "8000:8000"
  ai-scribe-app:
    build: ./ai-scribe-app
    environment:
      - WEB_API_SERVER=http://web-api:8000
    ports:
      - "4000:4000"
    depends_on:
      - web-api
  router:
    build:
      context: ./router
      args:
        - FRONTEND_SERVICE=ai-scribe-app:4000
        - BACKEND_SERVICE=web-api:8000
    ports:
      - "3000:3000"
    depends_on:
      - ai-scribe-app
      - web-api
