version: '3.8'

services:
  whisper-service:
    build: ./whisper-service
    ports:
      - "8010:8010"
  web-service:
    build: ./web-service
    env_file: ./web-service/.env
    environment:
      - TRANSCRIPTION_SERVICE=LOCAL_WHISPER
      - WHISPER_SERVICE_URL=http://whisper-service:8010
    ports:
      - "8000:8000"
    depends_on:
      - whisper-service
  user-interface:
    build: ./user-interface
    env_file: ./user-interface/.env.local
    environment:
      - APP_API_URL=http://web-service:8000/api
    ports:
      - "3000:3000"
    depends_on:
      - web-service
