version: '3.8'

services:
  web-service:
    build: ./web-service
    env_file: ./web-service/.env
    ports:
      - "8000:8000"  
  user-interface:
    build: ./user-interface
    env_file: ./user-interface/.env.local
    environment:
      - APP_API_URL=http://web-service:8000/api
    ports:
      - "3000:3000"
    depends_on:
      - web-service
