version: '3.8'

services:
  web-service:
    build: ./web-service
    env_file: ./web-service/.env
    environment:
      - TRANSCRIPTION_SERVICE=OPENAI
      - SUMMARIZATION_SERVICE=OPENAI
      - SUMMARIZATION_MODEL=gpt-4o
    ports:
      - "8000:8000"
  ai-scribe-app:
    build: ./ai-scribe-app
    env_file: ./ai-scribe-app/.env.local
    environment:
      - WEB_SERVICE_URL=http://web-service:8000
    ports:
      - "3000:3000"
    depends_on:
      - web-service
