version: '3.8'

services:
  whisper-service:
    build: ./whisper-service
    ports:
      - "8010:8010"
  web-service:
    build: ./web-service
    env_file: ./web-service/.env
    environment:
      - TRANSCRIPTION_SERVICE=LOCAL_WHISPER
      - SUMMARIZATION_SERVICE=OPENAI
      - SUMMARIZATION_MODEL=gpt-4o
      - WHISPER_SERVICE_URL=http://whisper-service:8010
    ports:
      - "8000:8000"
    depends_on:
      - whisper-service
  ai-scribe-app:
    build: ./ai-scribe-app
    env_file: ./ai-scribe-app/.env.local
    environment:
      - WEB_SERVICE_URL=http://web-service:8000
    ports:
      - "3000:3000"
    depends_on:
      - web-service
